body {
  background-color: #f3dde5;

  .App {
    // color: red;
    // padding: 20px;
    // text-align: center;
    // font-size: 1.6rem;

    .header {
      width: 100vw;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #77002e;
      padding: 0 1rem 0 1rem;

      .logo {
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
        margin: 1rem;
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;
        span {
          margin: 1rem;
          a {
            text-decoration: none;
            font-size: 1rem;
            color: #fcb8d2;
          }
          :hover {
            color: white;
          }
        }
      }
    }
    .allMeetupsPage {
      text-align: center;
      .allMeetups {
        display: flex;
        justify-content: center;
        li {
          text-decoration: none;
          list-style: none;
          margin: 1rem;
          width: 300px;
        }
        img {
          width: 250px;
          height: 200px;
        }
      }
    }
    .newMeetupPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;

      .formCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding: 1rem;
        width: 500px;
        background-color: #c5d1e3;
        border-radius: 10px;
        label,
        textarea,
        input {
          width: 450px;
          margin: 0.2rem;
        }
        textarea {
          border-radius: 10px;
          border: 1px solid rgb(170, 154, 118);
          // :focus {
          //   color: #2196f3;
          //   border-bottom: 1px solid #2196f3;
          //   box-shadow: 0 1px 0 0 #2196f3;
          // }
        }
        input {
          height: 1.5rem;
          border-radius: 10px;
          border: 1px solid rgb(170, 154, 118);
        }
        .btnAddMeetup {
          background-color: #77002e;
          color: white;
          width: 25vw;
          height: 2rem;
          border-radius: 10px;
          margin-top: 1rem;
          font-size: 0.9rem;
          font-weight: bold;
          :hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
}
