body {
  background-image: url("images/icon1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  background-color: #ffffff;

  .App {
    .header {
      width: 100vw;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #073761;
      padding: 0 1rem 0 1rem;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1rem;
        color: white;
        font-weight: bold;
        margin: 1rem;
        img {
          width: 80px;
        }
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem;
        span {
          margin: 1rem;
          a {
            text-decoration: none;
            font-size: 1rem;
            color: #fcb8d2;
          }
          :hover {
            color: white;
          }
        }
      }
    }
    .allMeetupsPage {
      text-align: center;

      .allMeetups {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
          text-decoration: none;
          list-style: none;
          margin: 1rem;
          width: 300px;
        }
        img {
          width: 250px;
          height: 200px;
          border-radius: 10px;
        }
      }
    }
    .newMeetupPage {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;

      .formCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding: 1rem;
        width: 500px;
        background-color: #c5d1e3;
        border-radius: 10px;
        label,
        textarea,
        input {
          width: 450px;
          margin: 0.2rem;
        }
        textarea {
          border-radius: 10px;
          border: 1px solid rgb(170, 154, 118);
        }
        input {
          height: 1.5rem;
          border-radius: 10px;
          border: 1px solid rgb(170, 154, 118);
        }
        .btnAddMeetup {
          background-color: #77002e;
          color: white;
          width: 25vw;
          height: 2rem;
          border-radius: 10px;
          margin-top: 1rem;
          font-size: 0.9rem;
          font-weight: bold;
          :hover {
            background-color: white;
            color: black;
          }
        }
      }
    }
    .pageFavorites {
      text-align: center;

      .favoriteMeetups {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
          text-decoration: none;
          list-style: none;
          margin: 1rem;
          width: 300px;
        }
        img {
          width: 250px;
          height: 200px;
          border-radius: 10px;
        }
      }
    }
  }
}
